*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}
.header-area{
    background-image: url(../img/top-banner.png);
    background-repeat: no-repeat;

}
.flex-box{
    display:flex;
}